%h2 Main Page
%ul
  - @log.each do |l|
    %li
      %p.commit_message= l.message
      %ul.meta.clearfix
        %li= l.committer.name
        %li= l.committer_date

      %ul.files
        - l.files.each do |file|
          %li.file_path
            %a{:href => '#'} #{ file['status'] } #{ file['path'] }
          %li.diff_container
            %pre{:class => 'brush: diff'}
              :preserve
                #{ h diff_for_file_path(l, file['path']) }
